manifest {
  name = 'openscpca-nf'
  description = 'A workflow to run modules from the OpenScPCA project.'
  author = "Childhood Cancer Data Lab, Alex's Lemonade Stand Foundation"
  homePage = 'https://github.com/AlexsLemonade/openScPCA-nf'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = 'v0.0.1'
  nextflowVersion = '>=22.10.0'
}

nextflow.enable.moduleBinaries = true

// global parameters for workflows
params {
  release_prefix = "2024-05-01"
  release_bucket = "s3://openscpca-data-release"
  results_bucket = "s3://openscpca-nf-workflow-results"
  project = "all"


  // Resource maximum settings
  max_cpus = 24
  max_memory = 96.GB
}

// Load base process config with labels
includeConfig 'config/process_base.config'

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = true
    docker.userEmulation = true
  }
  simulated {
    params {
      release_prefix = "test"
      release_bucket = "s3://openscpca-temp-simdata" // TODO: change to correct simulated data bucket
      results_bucket = "s3://openscpca-sim-workflow-results" // TODO: change to correct output bucket
    }
  }
  stub {
    process.executor = 'local'
    docker.enabled = false
    aws.client.anonymous = true
    params {
      release_prefix = "test"
      release_bucket = "s3://openscpca-temp-simdata" // TODO: change to correct simulated data bucket
      results_bucket = "test/results" // local output
      max_memory = 8.GB
    }
  }
  batch {
    includeConfig 'config/profile_batch.config'
  }
  old_batch {
    includeConfig 'config/profile_old_batch.config'
  }
}
