manifest {
  name = 'openscpca-nf'
  description = 'A workflow to run modules from the OpenScPCA project.'
  author = "Childhood Cancer Data Lab, Alex's Lemonade Stand Foundation"
  homePage = 'https://github.com/AlexsLemonade/openScPCA-nf'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = 'v0.1.1'
  nextflowVersion = '>=24.04.0'
}

nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true

// global default parameters for workflows: output buckets are set to staging by default
params {
  release_prefix = "2024-08-22"
  release_bucket = "s3://openscpca-data-release"
  results_bucket = "s3://openscpca-nf-workflow-results-staging"
  sim_bucket = "s3://openscpca-test-data-release-staging"
  project = "all"
}

// Load base process config with labels
includeConfig 'config/process_base.config'

profiles {
  standard {
    process {
      executor = 'local'
      resourceLimits = [ cpus: 4, memory: 16.GB ]
    }
    docker.enabled = true
    docker.userEmulation = true
  }
  prod {
    params {
      results_bucket = "s3://openscpca-nf-workflow-results"
      sim_bucket = "s3://openscpca-test-data-release-public-access"
    }
  }
  simulated {
    params {
      release_prefix = "test"
      release_bucket = "s3://openscpca-test-data-release-staging"
      results_bucket = "s3://openscpca-test-workflow-results-staging"
    }
  }
  prod_simulated {
    params {
      release_prefix = "test"
      release_bucket = "s3://openscpca-test-data-release-public-access"
      results_bucket = "s3://openscpca-test-workflow-results-public-access"
    }
  }
  stub {
    process {
      executor = 'local'
      resourceLimits = [ cpus: 2, memory: 4.GB ]
    }
    docker.enabled = false
    aws.client.anonymous = true
    params {
      release_prefix = "test"
      release_bucket = "s3://openscpca-test-data-release-public-access" // test bucket
      results_bucket = "test/results" // local output
      sim_bucket = "test/simulated" // local output
      project = "SCPCP000012" // a small project
    }
  }
  batch {
    includeConfig 'config/profile_batch.config'
  }
  old_batch {
    includeConfig 'config/profile_old_batch.config'
  }
}
