// Containers used by processes are defined here as parameters
params{

  // example module
  python_container = 'python:3.11'

  // scpcaTools containers: used by `merge-sce` and `infercnv-gene-order` modules
  scpcatools_slim_container = 'ghcr.io/alexslemonade/scpcatools-slim:v0.4.3'
  scpcatools_reports_container = 'ghcr.io/alexslemonade/scpcatools-reports:v0.4.3'
  scpcatools_anndata_container = "ghcr.io/alexslemonade/scpcatools-anndata:v0.4.3"

  // simulate-sce module
  simulate_sce_container = 'public.ecr.aws/openscpca/simulate-sce:v0.2.2'

  // doublet-detection module
  doublet_detection_container = 'public.ecr.aws/openscpca/doublet-detection:v0.2.2'

  // seurat-conversion module
  seurat_conversion_container = 'public.ecr.aws/openscpca/seurat-conversion:v0.2.2'

  // cell-type-consensus module
  consensus_cell_type_container = 'public.ecr.aws/openscpca/cell-type-consensus:v0.2.2'

  // cell-type-ewings module
  cell_type_ewing_container = 'public.ecr.aws/openscpca/cell-type-ewings:v0.2.2'

}
