// Containers used by processes are defined here as parameters
// All container paths should include the full registry URL and tag
// e.g., 'docker.io/library/python:3.11'
params {
  // pullthrough registry for caching images
  // disabled by default by setting to empty string
  pullthrough_registry = ''

  // example module
  python_container = 'docker.io/library/python:3.11'

  // scpcaTools containers: used by `merge-sce` and `infercnv-gene-order` modules
  scpcatools_slim_container = 'ghcr.io/alexslemonade/scpcatools-slim:v0.4.3'
  scpcatools_reports_container = 'ghcr.io/alexslemonade/scpcatools-reports:v0.4.3'
  scpcatools_anndata_container = "ghcr.io/alexslemonade/scpcatools-anndata:v0.4.3"

  // simulate-sce module
  simulate_sce_container = 'public.ecr.aws/openscpca/simulate-sce:v0.2.4'

  // doublet-detection module
  doublet_detection_container = 'public.ecr.aws/openscpca/doublet-detection:v0.2.4'

  // seurat-conversion module
  seurat_conversion_container = 'public.ecr.aws/openscpca/seurat-conversion:v0.2.4'

  // cell-type-consensus module
  consensus_cell_type_container = 'public.ecr.aws/openscpca/cell-type-consensus:v0.2.3'

  // cell-type-ewings module
  cell_type_ewing_container = 'public.ecr.aws/openscpca/cell-type-ewings:v0.2.4'

  // cell-type-neuroblastoma-04 module
  cell_type_nb_04_container = 'public.ecr.aws/openscpca/cell-type-neuroblastoma-04:v0.2.4'


  // cell-type-scimilarity module
  cell_type_scimilarity_container = 'public.ecr.aws/openscpca/cell-type-scimilarity:v0.2.4'
}
