// Module specific parameters are defined here
params{

  // merge sce parameters
  merge_reuse = false
  merge_max_libraries = 75 // maximum number of libraries to merge (current number is a guess, based on 59 working, but 104 not)
  merge_hvg = 2000 // number of HVGs to select


  // cell type consensus
  cell_type_blueprint_ref_file = 'https://raw.githubusercontent.com/AlexsLemonade/OpenScPCA-analysis/e4ffb305a87a54133f398c4445ff92348fcb9d8a/analyses/cell-type-consensus/references/blueprint-mapped-ontologies.tsv'
  cell_type_panglao_ref_file = 'https://raw.githubusercontent.com/AlexsLemonade/OpenScPCA-analysis/b870a082bc9acd3536c5f8d2d52550d8fe8a4239/analyses/cell-type-consensus/references/panglao-cell-type-ontologies.tsv'
  cell_type_consensus_ref_file = 'https://raw.githubusercontent.com/AlexsLemonade/OpenScPCA-analysis/e4ffb305a87a54133f398c4445ff92348fcb9d8a/analyses/cell-type-consensus/references/consensus-cell-type-reference.tsv'

}
