// profile for wave and fusion filesystem enabled pipeline

workDir = 's3://nextflow-ccdl-data/work'
docker.enabled = true
wave.enabled = true
fusion.enabled = true


aws{
  batch{
    volumes = [
      '/ebs-autoscale:/tmp'
    ]
    maxTransferAttempts = 2
    maxSpotAttempts = 2
  }
  region = 'us-east-1'
}


process{
  executor = 'awsbatch'
  scratch = false
  queue = { task.attempt < 3 ? 'nextflow-batch-autoscale-queue' : 'nextflow-batch-priority-queue'}
}
